:root{
    --white: #fff;
    --purple_normal:#a100ff;
    --purple_medium: #7500c0;
    --purple_dark: #460073;
    --purple_light1: #dcafff;
    --purple_light2: #e6dcff;
    --lightGray: #e6e6dc;
    --darkGray: #96968c;
    --red: #ff3246;
}