@import '../../../../assets/config_scss/variables.scss';


:host {
    .container {
        .card{
            border: none
        }

        span{
            font-size: 30px;
            margin-left: 15px;
            font-weight: 700;
            margin: 20px
        }
        .title{
            margin-top: 40px;
            color: var(--purple_medium);
        }

        .inputDiv{
            width: 100%;
            margin: 15px 0;
            line-height: 25px;
        }

        .buttonBack{
            display: flex;
            justify-content: end;
            margin-bottom: 100px;
        }

        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        button{
            margin-top: 55px;
            padding: 8px 25px;
            border-radius: 8px;
            color: white;
            border: none;
            background-color: var(--darkGray);
            font-weight: 400;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}