<footer class="footer">
    <div class="socialFooter">
        <span>©2023. Todos os direitos reservados.</span>
        <ul>
            <li>
                <button>
                    <img src="../../../assets/icons/footer/insta.svg" alt="">
                </button>
            </li>
            <li>
                <button>
                    <img src="../../../assets/icons/footer/twitter.svg" alt="">
                </button>
            </li>
            <li>
                <button>
                    <img src="../../../assets/icons/footer/fb.svg" alt="">
                </button>
            </li>
            <li>
                <button>
                    <img src="../../../assets/icons/footer/youtube.svg" alt="">
                </button>
            </li>
        </ul>
    </div>
</footer>